{% extends 'base.html' %}

{% block header %}
    <!-- Add any specific header content for the Editing Paste page if needed -->
{% endblock header %}
{% block content %}
    
    <h2>Editing Paste</h2>
    <form method="POST" action="{% url 'paste_edit' instance.id %}">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button id="button" type='submit'>Update paste</button>
    </form>
{% endblock content %}